:root {
  --text-color: #757575;
  --title-color: #212121;
  --accent-color: #2196f3;
  --hero-title-color: #ffffff;
  --hero-background-color: #2f303a;
  --team-background-color: #f5f4fa;
  --logo-black-color: #000000;
  --footer-background-color: #2f303a;
  --footer-email-tel: rgba(255, 255, 255, 0.6);
}

body {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.03em;

  background-color: var(--hero-title-color);
  color: var(--text-color);
}

/* Утилиты */

.list {
  list-style: none;

  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
}

a {
  cursor: pointer;
}

/* Site navigation */

.bgc-test {
  /* background-color: pink; */
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 94px;
  text-align: center;
  margin-right: auto;
  margin-left: auto;

  /* outline: 3px solid green; */
}

header > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0;
  text-align: left;
}

.nav {
  font-weight: 500;
  display: flex;
  align-items: center;
}

.logo {
  color: var(--accent-color);
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
}

.nav > .logo {
  margin-right: 93px;
}

.header-studio {
  color: var(--logo-black-color);
}

.nav-list {
  display: flex;
}

.nav-list > li:not(:last-child),
.list-contacts > li:not(:last-child) {
  margin-right: 50px;
}

.nav-list,
.contacts {
  letter-spacing: 0.02em;
}

.nav-link {
  color: var(--title-color);
}

.current,
.nav-link:hover,
.nav-link:focus,
.contacts:hover,
.contacts:focus,
.footer-email:hover,
.footer-email:focus {
  color: var(--accent-color);
}

.nav-list .link {
  display: block;
  padding: 32px 0px;
}

.features-title,
.section-title,
.work-title {
  margin: 0;
  padding: 0;

  color: var(--title-color);
  font-weight: 700;
}

.contacts {
  color: inherit;
  font-weight: 500;
}

.list-contacts {
  display: flex;
}

/* Hero */

.hero {
  text-align: center;
  background-color: var(--hero-background-color);
}

.hero-title,
.hero-button {
  letter-spacing: 0.06em;
  color: var(--hero-title-color);
}

.hero-title {
  margin-top: 0;
  margin-bottom: 30px;
  padding: 0;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-transform: uppercase;
}

.button {
  font-family: inherit;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.hero-button {
  padding: 10px 32px;
  min-width: 200px;
  background-color: var(--accent-color);
  font-weight: 700;
  line-height: 1.9;
}

/* Section features */

.features > .container {
  text-align: left;
}

.features-list {
  display: flex;
  margin-bottom: 100px;
}

.features-list > li {
  width: 270px;
}

.features-list > li:not(:last-child) {
  margin-right: 30px;
}

.features-title {
  font-size: inherit;
  text-transform: uppercase;

  margin-bottom: 10px;
}

.features-text {
  line-height: 1.7;
  margin-top: 0;
  margin-bottom: 0;
}

/* What are we doing */

.section-title {
  font-size: 36px;

  margin-bottom: 50px;
}

.we-doing {
  display: flex;
}

.we-doing > li:not(:last-child) {
  margin-right: 30px;
}

.list-foto {
  display: block;
}

/* Our team */

.team > .container {
  margin-bottom: 0;
  padding-top: 94px;
  padding-bottom: 94px;
}

.team {
  background-color: var(--team-background-color);
}

.team-list {
  display: flex;
}

.team-list > li:not(:last-child) {
  margin-right: 30px;
}

.team-foto {
  display: block;
  margin: 0px auto 30px auto;
}

.team-name,
.team-position {
  font-size: 16px;
}

.team-name {
  font-weight: 500;

  color: var(--title-color);
  margin-top: 0;
  margin-bottom: 10px;
}

.team-position {
  margin: 0;
  text-transform: capitalize;
}

/* Footer */

.footer .logo {
  display: block;
  margin-bottom: 20px;
}

.footer .container {
  text-align: left;
  padding-top: 60px;
  padding-bottom: 60px;
  margin-bottom: 0;
}

.footer {
  background-color: var(--footer-background-color);
}

.footer-studio,
.footer-address {
  color: var(--hero-title-color);
}

.footer-address,
.footer-email {
  display: block;
  line-height: 1.7;
  margin-bottom: 9px;
}

.footer-address {
  font-style: normal;
}

.footer-email {
  color: var(--footer-email-tel);
}

.footer-email.link.end {
  margin-bottom: 0;
}

/* Portfolio.html */

.work .container {
  margin-top: 94px;
}

.work-filter {
  display: flex;
  justify-content: center;
  margin-bottom: 34px;
}

.work-filter > li:not(:last-child) {
  margin-right: 8px;
}

.list-buttons {
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: inherit;

  color: var(--title-color);
  background-color: var(--team-background-color);

  padding: 6px 22px;
}

.list-buttons:focus,
.list-buttons:hover {
  color: var(--hero-title-color);
  background-color: var(--accent-color);
}

.work-list {
  display: flex;
  flex-wrap: wrap;
}

.work-element {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
}

.work-element:nth-child(3n) {
  margin-right: 0;
}

.work-element:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
.work-title {
  margin-bottom: 4px;

  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.work-text {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 1.9;

  color: var(--text-color);
}

.work-name {
  padding: 20px 24px;
}
